{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Update <span class="text-white" style="text-shadow: 2px 2px 4px #000;">{{object.user}}</span></h1>
    {% else %}
        <h1 class="text-white" style="text-shadow: 2px 2px 4px #000;">Create Your Ink Profile 💀</h1>
    {% endif %}
        <hr class="bg-white" style="width: 100%; border-color: white">

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Welcome To The Revolution 🖤" class="btn">
    </form>
{% endblock %}