{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-white" style="text-shadow: 2px 2px 4px #000;">Ink Profile 💀</h1>
        <hr class="text-white">

            <!-- Profile Info -->
            <div class="card mb-4" style="background-color: white; color: black;">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ profile.user.username }}</h5>
                    <p class="card-text"><strong>Government Name 🪪: </strong>{{ profile.user.get_full_name }}</p>
                    <p class="card-text"><strong>Life Story 📖: </strong>{{ profile.bio }}</p>
                    <p class="card-text"><strong>Star Sign 💫: </strong>{{ profile.astrological_sign }}</p>
                    <p class="card-text"><strong>Born Day 🍼: </strong>{{ profile.birth_date }}</p>
                    <p class="card-text"><strong>Years Young 🔞: </strong>{{ profile.age }}</p>
                </div>
            </div>
{% endblock %}