{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="white-text" style="text-shadow: 2px 2px 4px #000;">Ink Profiles 💀</h1>
    <hr class="white-text">

    {% for profile in profiles %}
        <div class="card">
            <a href="{% url 'details' profile.id %}">
                <div class="card-content black-text" style="text-shadow: 2px 2px 4px #000;">
                    <span class="card-title">{{ profile.user|linebreaks }}</span>
                    <p>Location: {{ profile.location }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</a>
    <button class="btn btn-dark" style="margin-bottom: 100px; background-color: black; border: white;">
        <a href="{% url 'profile_create' %}" class="text-white text-decoration-none" style="font-size: 18px;">Create Ink Profile</a>
    </button>
{% endblock %}
